<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
<title>{{ title }}</title> 
<meta name="Description" content="{{ description }}"> 
<meta name="Keywords" content="{{ keywords }}"> 
<meta name="Classification" content="{{ classification }}"> 
<meta name="Subject" content="{{ subject }}"> 

<link rel="stylesheet" type="text/css" href="/static/style.css" > 
<link rel="shortcut icon" href="/favicon.ico"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
 
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('#navContainer h3').click(function() {
        jQuery(this).next().toggle('fast');
        return false;
    }).next().hide();
});
</script>
 
</head> 
 
<body> 
    <div id="layoutContainer">
    <div id="logoContainer">
    <img src="/static/images/logo.jpg" > 
    </div>
    <div id="navContainer">

    <h3><a href="#">Inspiration Galleries</a></h3> 
     <div> 
         <a href="http://www.weddingconnections.com/aphotoslideshow/reflectionsbypatricia_bridecloseup.php">Brides</a><br> <a href="http://www.weddingconnections.com/aphotoslideshow/Artistic_Florals_Floral_Table_Decor.php"></a><a href="http://www.weddingconnections.com/aphotoslideshow/Artistic_Florals_Floral_Table_Decor.php"></a><a href="http://www.weddingconnections.com/aphotoslideshow/hulsecakegallery.php">Wedding 
      Cakes</a><br> <a href="http://www.weddingconnections.com/aphotoslideshow/Artistic_Florals_Floral_Table_Decor.php"></a><a href="http://www.weddingconnections.com/aphotoslideshow/Artistic_Florals_Floral_Table_Decor.php">Wedding 
      Flowers</a><br> <a href="http://www.weddingconnections.com/aphotoslideshow/reflectionsbypatricia_favors.php">Wedding 
      Favors</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/Artistic_Florals_Bouquet.php">Wedding 
      Bouquets</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/Artistic_Florals_Ceremony.php">Wedding 
      Ceremony</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/bauman_kids.php">Flower 
      Girl / Kids</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/reflectionsbypatricia_calligraphy.php">Wedding 
      Details</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/calligraphy.php">Wedding 
      Details</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/honeymoon.php">Honeymoon</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/thedress.php">Wedding 
      Dresses</a><br> <a href="http://www.weddingconnections.com/aphotoslideshow/transportation.php">Transportation</a><br> 
      <a href="http://www.weddingconnections.com/aphotoslideshow/reflectionsbypatricia_shoes.php">Bridal Shoes</a> 
      <br> 
      </div>
          
    <h3><a href="#">Registries</a></h3> 
       <div><a href="http://www.weddingconnections.com/honeymoon/index.php" target="_blank">Honeymoon 
      Registry</a><br> 
      <a href="http://www.weddingconnections.com/bytype.php?type_id=49">Bridal 
      Registry</a><br> 
        </div>
    <h3><a href="#">Wedding News</a></h3> 
      <div><a href="http://www.weddingconnections.com/bridalshows/index.php">Bridal 
      Shows</a><br> 
      <a href="http://www.weddingconnections.com/bridalgowns/index.php">Bridal 
      Gown Salon</a><br> 
      <a href="http://www.weddingconnections.com/story/summer_newsletter_2009/summer2009.htm">E-Newsletter</a><br> 
            
        </div>
          
    <h3><a href="#">Wedding Articles</a></h3> 
        <div><a href="http://www.weddingconnections.com/articles/flowergirl">A 
      Flower Girl</a><br> 
      <a href="http://www.weddingconnections.com/articles/adventure-in-costa-rica">Adventure 
      in Costa Rica</a><br> 
      <a href="http://www.weddingconnections.com/articles/weddingenchantment">Wedding 
      Enchantment</a><br> 
          </div>
          
    <h3><a href="#">Categories</a></h3> 
       <div>
           <a href="http://www.weddingconnections.com/articles/traditions">Cultural 
            Traditions</a><br> <a href="http://www.weddingconnections.com/articles/holiday">Holiday 
            Weddings</a><br> <a href="http://www.weddingconnections.com/articles/theme">Fun 
            Theme Ideas</a><br> <br> 
          </div>
    <h3><a href="#">Green Wedding</a></h3> 
        <div><a href="http://www.weddingconnections.com/articles/greentheme">Eco-Friendly</a> 
            <br> <a href="/the_green_room/index.php">Eco-Bride</a><br> 
            <a href="/the_green_room/eco-friendly_travelware.php" target="_blank">Travleware</a><br> 
            <a href="/the_green_room/green_products.php" target="_blank">Green 
            Products</a><br> 
      <a href="/the_green_room/eco-friendly_buylocal.php">Buy Local</a><br> 
         </div>
         
          
    <h3><a href="#"> Wedding Accessories</a></h3> 
      <div><a href="http://www.mybridalstore.com/bridaljewelry.htm" target="_blank">Bridal 
            Jewelry</a><br> <a href="http://www.mybridalstore.com/handbags.htm" target="_blank">Handbags 
            </a><br> <a href="http://www.mybridalstore.com/weddinginvitations.htm" target="_blank">Invitations</a><br> 
            <a href="http://www.mybridalstore.com/beautyhealthandspa.htm" target="_blank">Beauty 
            and Health</a><br> <a href="http://www.mybridalstore.com/shoes.htm">Bridal 
            Shoes</a><br> <a href="http://www.mybridalstore.com/tuxedos.htm" target="_blank">Tuxedos 
            </a><br> 
      <a href="http://www.mybridalstore.com/tiaras.htm">Tiaras </a><br> 
         </div>
       <h3><a href="#">Categories</a></h3>   
         <div>
              <!-- BEGIN: Navigation -->
              <a href="http://www.weddingconnections.com/San_Diego/Accessories/">Accessories</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Attire/">Attire / Dress / Gown</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Audio-Visual/">Audio Visual</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Beauty-Health/">Beauty Health Spa</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Beverage/">Beverage</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Registry/">Bridal Registries</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Wedding-Shows/">Bridal Shows</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Bakery/">Cake / Bakery</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Calligraphers/">Calligraphers</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Caterer/">Caterers</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Chapels-Churches/">Chapel &amp; Church</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Consultant-Planner/">Consultant / Planner</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Dance-Instruction/">Dance Instruction</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Decorations-Extras/">Decorations &amp; Extras</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Disc-Jockey-DJ/">Disc Jockey DJ</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Dove-Releases/">Dove Releases</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Entertainment/">Entertainment</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Favors-Gifts/">Favors / Gifts</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Florist/">Florist / Flowers</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Furnishings/">Furnishings</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Gifts/">Gifts</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Green-Resources/">Green Resources</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Health-Wellness/">Health &amp; Wellness</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/The-Day-After/">Home Life Necessities</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Honeymoon/">Honeymoon</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Hotel/">Hotel</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Information/">Information</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Invitations/">Invitations</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Jeweler/">Jewelry</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Lodging/">Lodging</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Marriage-License/">Marriage License</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Media/">Media</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Miscellaneous/">Miscellaneous</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Musicians/">Musicians</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Notaries/">Notary</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Party-Games/">Party Games</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Photography/">Photographers</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Pre-Parties/">Pre-Parties</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Publications/">Publications</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Hotel-Reception-Venue/">Reception Sites</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Rentals-Supplies/">Rentals Supplies</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Restaurant/">Restaurants</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Transportation/">Transportation</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Travel/">Travel</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Videography/">Videography</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Wedding-Software/">Wedding Software</a><br>
         <a href="http://www.weddingconnections.com/San_Diego/Wedding-Websites/">Wedding Websites</a><br>
        </div>

    </div> <!-- close nav -->
 
 
</div>
<div id="footer">
     <div ="footerCol1">
         <h3>Local Resources</h3>
         
         <ul>
             <li><a href="#">Link1</a>
             <li><a href="#">Link2</a>
             <li><a href="#">Link3</a>
        </ul>
       </div>
       <div ="footerCol2">
         <h3>Planning Tools</h3>
         <ul>
               <li><a href="#">Link1</a>
               <li><a href="#">Link2</a>
               <li><a href="#">Link3</a>
          </ul>
      </div>
      
      <div ="footerCol3">
          <h3>Sister Sites</h3>
          <ul>
                <li><a href="#">Link1</a>
                <li><a href="#">Link2</a>
                <li><a href="#">Link3</a>
           </ul>

       </div>   
</div>
 
<script type="text/javascript"> 
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
  try{
    var pageTracker = _gat._getTracker("UA-4087306-1");
    pageTracker._trackPageview();
        } catch(err) {}</script> 
 
</body> 
</html> 
